@keyframes wiggle {
    00.00% {transform: rotate(-12deg);}
    50.00% {transform: rotate(12deg);}
    100.0% {transform: rotate(-12deg);}
}

* {
    margin: 0;
}

.center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -192px);
    -ms-transform: translate(-50%, -192px);
    transform: translate(-50%, -192px);
    width: 512px;
}

.content {
    overflow: hidden;
}

div.video video {
    -webkit-mask-image: url("../media/transparent.png");
    border-radius: 32px;
    height: 100%;
    width: 100%;
}

.wiggle {
    animation: wiggle 8s linear infinite;
}

a {
    color: lime;
}

body {
    background: black repeat fixed;
    height: 100%;
    width: 100%;
}

embed {
    border: none;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
    font-family: courier;
}

p {
    color: cyan;
    font-size: 12px;
}
