* {
    font-family: courier;
    font-size: 12px;
    margin: 0;
}

.center {
    border-radius: 8px 8px 0 0;
    height: 100%;
    left: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 64%;
}

.float {
    animation: float 2s ease infinite alternate;
}

a {
    color: lime;
}

body.index {
    background-color: black;
    background-image: url('../media/background.gif');
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

button{
    background-color: transparent;
    border: none;
    transition: 0.4s;
} button:hover {
    animation-play-state: paused;
    background-color: white;
}

div {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

embed {
    border: none;
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    font-size: 24px;
}

h2 {
    color: white;
    font-size: 18px;
}

p {
    color: aqua;
}
