* {
    margin: 0;
}

.center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -24vh);
    -ms-transform: translate(-50%, -24vh);
    transform: translate(-50%, -24vh);
    width: 40%;
}

a {
    color: lime;
}

body {
    background: black repeat fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

embed {
    border: none;
}

h1,h2,h3,h4,h5,h6,p {
    color: white;
    font-family: courier;
}

p {
    color: cyan;
    font-size: 12px;
}
